.header {
    display:flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    border:outset;
    border-width: 10px;
    border-color: rgb(0, 166, 232);
    background-color: white;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@keyframes brightnessAnimation {
    0% {
        filter: brightness(0.98);
    }
    50% {
        filter: brightness(1.20);
    }
    100% {
      filter: brightness(0.98);
    }
  }

.img {
    display: inline-block;
    width: 58px;
    cursor: pointer;
    margin-right: 25px;
    animation: brightnessAnimation 5s linear infinite;
  }

.header h1 {
    display:inline-block;
    position: relative;
    align-items: center;
    font-size: 30px;
    font-weight: 350;
}

.navbar-sign {
    justify-content: space-between;
    align-items: center;
    display:flex;
    width: 220px;
    font-size: 18px;
    margin: 0px 5px;
}

.navbar-sign p{
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    color: rgb(147, 147, 147);
}

.navbar-sign p:active{
    color:#ffb700 ;
}

.regBTN{
    background-color:#ffb700 ;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: 50px;
    padding: 8px;
    transition: 0.3s;
}

.navbar-sign button:hover{
    background-color: #f9c43d;
}

.navbar-sign button:active {
    background-color: #e0a100;
}

@keyframes breathingAnimation {
    0% {
      border-color: #f9c43d;
    }
    25% {
      border-color: #ffdc84;
    }
    50% {
        border-color: #ffffff;
      }
    75% {
        border-color: #ffdc84;
      }
    100% {
      border-color: #f9c43d;
    }
  }

.imgHeader {
    width: 60px;
    margin-top: 1.5px;
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(50, 135, 205);
    cursor: pointer;
    animation: breathingAnimation 5s linear infinite;
}

.menuOption {
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 2px;
    background-color: rgb(50, 135, 205);
}

.Option {
    color: white;
    font-size: 28px;
    margin: auto;
    padding-top: 8px;
}

.rightbar {
    position: fixed;
    top: 90px;
    right: 0px;
    bottom: 0px;
    width: 280px;
    background-color: rgb(178, 220, 50);
    z-index: 2;
}

.info {
    width: 100%;
    align-items: center;
    text-align: center;
    color: black;
    background-color: #d1a537;
}

.logoutDiv {
    width: 100%;
    position: fixed;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.logoutBTN {
    background-color:#ffb700 ;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: 50px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

@media screen and (max-width: 785px) {
    .header {
      
        height: 90px;
        padding: 0px 1rem;
    }

    .header h1{
        font-size: 28px;
    }

    .navbar-sign {
        width: 220px;
        font-size: 18px;
        margin: 0px 0px;
    }
}


@media screen and (max-width: 720px) {
    .img {
        margin-right: 8px;
    }
}


@media screen and (max-width: 690px) {
    
    .header {
        height: 90px;
        padding: 0px 1rem;
    }

    .navbar h1{
        font-size: 25px;
    }
    .navbar-sign {
        width: 200px;
        font-size: 16px;
    }

    .navbar-sign button{
    font-size: 12px;
    padding: 8px;
    }
}

@media screen and (max-width: 640px) {
    .navbar-sign {
        width: 180px;
        font-size: 15px;
    }

    .navbar-sign button{
    font-size: 11px;
    padding: 7px;
    }

}

@media screen and (max-width: 500px) {
    .header {
        height: 90px;
        padding: 0px 5px;
    }

    .img {
        width: 45px;
    }

    .navbar h1{
        font-size: 22px;
    }
    
    .navbar-sign {
        width: 150px;
        font-size: 15px;
    }

    .navbar-sign button{
    font-size: 9px;
    padding: 5px;
    height: 45px;
    }

}